body {
    
    text-align: center;
}

header {
    background: grey;
   
    padding-top: 15px;
    border-style: groove;
    
    
}

label {
    margin: 50px;
}

h1 {
    font-size: 40px;
    
}

form {
    width: 40px;
    height: 20px;
    border: 50px;
    margin: 15px
}

button:hover {
    background: greenyellow
}

.row{
    display: flex;
    flex-direction: row;
    background: khaki ;
    justify-content: right;
    
    

}

.col{
    width: 60%;
    height: 30px;
    background-color: khaki;
    text-align: center;
    


}